@import "../../../Global";

.home-menu-container {
    width: 60%;
    z-index: 1;
}
.home-menu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  font-weight: bold;
  color: black;
  height: fit-content;
  z-index: 2;
  box-shadow: 0 0 15px lightgrey;
  padding: 0;
  background: #ffffffc2;

  &__item {
    position: relative;
    font-size: 24px;
    cursor: pointer;
    height: fit-content;
    &:hover {
      text-decoration: underline;
    }
    &:not(:last-child):after {
      content: '|';
      display: inline-block;
      height: 100%;
      margin: 0 10px;
      font-weight: normal;
      text-decoration: none;
    }
    &:hover .home-sub-menu {
      display: block;
    }
    @include sm {
      font-size: 24px;
    }
  }
}
.home-sub-menu {
  display: none;
  width: max-content;
  position: absolute;
  list-style: none;
  line-height: 30px;
  padding: 0;
  background: #ffffffc2;
  box-shadow: 0 0 15px rgba(211, 211, 211, 0.77);
  z-index: 1;

  &__item {
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    &:hover {
     background: rgba(128, 128, 128, 0.4);
    }
  }
  &__link {
    color: black;
    text-decoration: none;
    user-select: none;
  }
}
