@import "../../../Global";

.events-pagination {
  width: 65%;
  display: flex;
  flex-direction: column;

  @include lg {
    width: 60%;
  }

  @include md {
    width: 100%;
    margin-top: 100px;
  }
}
