@import './../../Global';

.events {
  min-height: 450px;
  @include md {
    min-height: 350px;
  }
  &--empty {
    @include md {
      min-height: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__message {
    text-align: center;
    font-size: 25px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
  }
}
