@import './../../Global';

.book-date-time-tables {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &__date-time {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    position: relative;
    width: 100%;
    align-items: center;
  }
  &__header {
    margin-top: 0;
  }
}
