@import "./../../Global";

.about-us {
  font-size: 17px;
  &__header {
    margin-top: 0;
  }
  &__text {
    @include sm {
      text-align: center;
    }
    &--hidden-small {
      @include sm {
        display: none;
      }
    }
  }
}

.about-us-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 250px);

  @include md {
    grid-template-columns: repeat(3, 1fr);
  }
  @include sm {
    grid-template-columns: repeat(2, 1fr);
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    @include lg {
      object-position: 80% 50%;
    }
  }

  &__item--1 {
    grid-column: 1/2;
    grid-row: 1/2;
    @include sm {
      display: none;
    }
  }

  &__item--2 {
    grid-column: 2/3;
    grid-row: 1/2;
    @include md {
      grid-column: 2/4;
    }
    @include sm {
      grid-column: 1/3;
    }
  }

  &__item--3 {
    grid-column: 3/5;
    grid-row: 1/2;
    @include md {
      display: none;
    }
  }

  &__item--4 {
    grid-column: 1/5;
    grid-row: 2/3;
  }

  &__item--5 {
    grid-column: 1/2;
    grid-row: 3/4;
    @include sm {
      display: none;
    }
  }

  &__item--6 {
    grid-column: 2/5;
    grid-row: 3/4;
    @include sm {
      grid-column: 1/4;
    }
  }
}
