@import "./../../Global";

.about-us {
  @include padding-around;
  &__header {
    margin-top: 0;
  }
}

.about-us-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 250px);

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__item--1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  &__item--2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  &__item--3 {
    grid-column: 3/5;
    grid-row: 1/2;
  }

  &__item--4 {
    grid-column: 1/5;
    grid-row: 2/3;
  }

  &__item--5 {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  &__item--6 {
    grid-column: 2/5;
    grid-row: 3/4;
  }
}
