@import "../../../Global";

.top-dishes {
  &__dishes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &__container {
    @include padding-around;
  }
}

.top-dish {
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: center;
  text-align: center;
  @include xs {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__image {
    width: 250px;
    border-radius: 20px;
  }

  &__summary {
    @include xs {
      margin-top: 0;
    }
  }
}
