@import "../../Global";

.home-container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 0;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include margin-around();
  margin-top: 25px;
  margin-bottom: 25px;
  align-items: center;
}
.events-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 5%;
  @include md {
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    position: relative;
  }
}
.menu-container {
  background-color: #d3d3d36e;
  min-height: 500px;
  padding: 40px 5%;
}
.book-table-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  @include padding-around;
  @include md {
    padding: 0 3%;
  }
}
