.breadcrumbsLink {
  text-decoration: none;
  color: black;
  cursor: pointer;
  &:last-child {
    cursor: default;
  }
  &:not(:last-child):hover {
    text-decoration: underline;
  }
  &:active {
    color: black;
  }
  &:not(:last-child):after {
    content: '/';
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
  }
}
