@import "../../../Global";

.home-menu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-top: 0;
  padding: 10px 0;
  font-weight: bold;
  color: white;
  @include xs {
    @include padding-around;
    padding-top: 20px;
  }

  &__item {
    position: relative;
    font-size: 22px;
    cursor: pointer;
    height: 0;
    &:hover {
      text-decoration: underline;
    }
    &:not(:last-child):after {
      content: '|';
      display: inline-block;
      height: 100%;
      margin: 0 10px;
      font-weight: normal;
      text-decoration: none;
    }
    &:hover .home-sub-menu {
      display: block;
      position: absolute;
      list-style: none;
    }
    @include sm {
      font-size: 25px;
    }
  }
}
.home-sub-menu {
  display: none;
  width: 95px;
  line-height: 28px;
  padding: 10px 0 0;

  &__item {
    font-size: 18px;
    cursor: pointer;
    &:hover {
      background: #d3d3d34f;
    }
    @include sm {
      font-size: 20px;
    }
  }
  &__link {
    color: white;
    text-decoration: none;
  }
}
