@import './../../../Global';

.book-calendar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  @include sm {
    margin-right: 0;
  }
  &__name {
    margin-left: 5px;
    margin-right: 5px;
  }
  &__field {
    font-size: 14px;
  }
}
