@import "../../../Global";

.menu-category {
  width: 400px;
  padding: 30px;

  &__header {
    font-size: 25px;
    text-align: center;
  }
}
.menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 19px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &__name {
    margin: 0;
    width: 70%;
  }

  &__details {
    text-align: right;

    @include xs {
      font-size: 17px;
    }
  }
}
