@import "../../Global";

.home-header {
  position: relative;
  top:0;
  left:0;
  height: 260px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  @include padding-left-right;
  @include sm {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  &__logo {
    height: fit-content;
    color: black;
    z-index: 1;
    font-weight: bold;
    font-size: 45px;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 15px;
    background: #ffffffc2;
    padding: 2px;
    box-shadow: 0 0 15px lightgrey;
  }

  &__background {
    position:absolute;
    left:0;
    right:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 30% 70%;
    opacity:0;
    animation-name: fadeBackground;
    animation-duration: 12s;
    animation-iteration-count: infinite;
  }

  &__background:nth-child(1) {
    animation-delay: 0s;
  }

  &__background:nth-child(2) {
    animation-delay: 4s;
  }

  &__background:nth-child(3) {
    animation-delay: 8s;
  }
}

@keyframes fadeBackground {
  0% {
    opacity: 0;
  }
  11.11% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  44.44% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
