@import "../../Global";

.main-search {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-bottom: 25px;
  justify-content: flex-end;
  z-index: 1;
  @include margin-around;

  &__field {
    font-size: 16px;
    outline: none;
    border: 1px solid lightgrey;
  }
  &__button {
    @include default-button;
    text-transform: none;
    padding: 5px 0;
    width: 80px;
    margin-left: 5px;
    background: lightgrey;
    color: black;
  }

  @include sm {
    align-self: flex-end;
  }
}
