@import "../../../Global";

.event-filter-block {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 17px;
  &:not(:last-child) {
    margin-bottom: 20px;
    @include md {
      margin-bottom: 0;
    }
  }
  &__header {
    text-align: center;
  }
  @include md {
    width: 45%;
    margin-bottom: 0;
  }
  @include sm {
    width: 40%;
  }
}
.event-filter-row {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  &__toggler {
    position: relative;
    top: 1px;
  }
  &__text {
    vertical-align: middle;
  }
}
