@mixin xs() {
  @media screen and (max-width: 576px) {
    @content;
  }
}
@mixin sm() {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin md() {
  @media screen and (max-width: 992px) {
    @content;
  }
}
@mixin lg() {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin padding-around {
  padding: 20px 5%;

  @include md {
    padding: 20px 3%;
  }
  @include xs {
    padding: 20px 7%;
  }
}
@mixin margin-around {
  margin: 40px 10%;

  @include lg {
    margin: 40px 6%;
  }

  @include md {
    margin: 40px 3%;
  }

  @include xs {
    margin: 40px 7%;
  }
}
@mixin padding-left-right {
  padding: 0 10%;

  @include lg {
    padding: 0 6%;
  }

  @include md {
    padding: 0 3%;
  }
}
@mixin default-color {
  color: #34A576;
}
@mixin default-green-background {
  background: #34A576;
}
@mixin default-color-border {
  border: 1px solid #34A576;
}
@mixin default-shadow {
  box-shadow: 2px 2px 19px 2px #0000003b;
}
@mixin default-page-header {
  font-size: 30px;
  text-align: center;
  margin: 20px 0;
}

@mixin default-button {
  width: 150px;
  background: #34A576;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 0;
  border-radius: 10px;
  color: white;
  outline: none;
  cursor: pointer;
  border: none;
}
