@import "../../../Global";

.event {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
  @include xs {
    flex-direction: column;
  }
  &__image {
    display: inline-block;
    max-height: 200px;
    min-height: 150px;
    max-width: 200px;
    object-position: center;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 10px;
    @include xs {
      order: 5;
      align-self: center;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__date {
    @include xs {
      order: 2;
      margin: 8px 0;
    }
  }

  &__header {
    font-size: 18px;
    @include xs {
      order: 1;
      margin-bottom: 0;
    }
  }

  &__description {
    display: inline-block;
    @include xs {
      order: 4;
    }
  }

  &__price {
    &:before {
      content: '$';
      display: inline-block;
    }
    @include xs {
      order: 3;
    }
  }
}
