@import "../../../Global";

.promo {
  font-size: 20px;
  @include padding-around;

  &__proposals {
    display: flex;
    justify-content: center;
    @include md {
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    @include xs {
      flex-direction: column;
      align-items: center;
    }
  }

  &__header {
    @include default-page-header;
  }
}

.promo-proposal {
  display: flex;
  flex-direction: column;
  width: 35%;
  max-width: 250px;
  border-radius: 20px;
  align-items: center;
  padding: 13px 20px;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
  text-align: center;
  @include default-shadow;
  @include lg {
    padding: 13px 10px;
  }
  @include md {
    padding: 20px 20px;
    margin-right: 0;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  @include xs {
    width: 80%;
  }

  &:hover {
    @include default-green-background;
  }

  &:hover * {
    color: white;
  }

  &:not(:last-child) {
    margin-right: 30px;
    @include md {
      margin-right: 0;
    }
  }

  &__header {
    font-size: 18px;
  }

  &__text {
    margin: 0;
    text-align: center;
    font-size: 17px;
  }

  &__icon {
    @include default-color;
    font-size: 30px;
  }
}
